body {
    width: 960px;
    border: 5px solid gold;
    height: 540px;
    background-color: #ffffff;
    color: red;
}

.logo {
    text-align: center;
    font-size: 40px;
}

.login-button {
    background-color: #E63232;
}
